<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<%= form_with url: posts_path, method: :GET do %>
  <%= text_field_tag :query, params[:query], placeholder: "Search posts..."%>
  <%= submit_tag "Search" %>
  <%= link_to "Reset", root_path %>
<% end %>

<% if @posts.any? %>
  <div id="posts">
    <% @posts.each do |post| %>
      <%= render post %>
      <p>
        <%= link_to "Show this post", post %>
      </p>
    <% end %>
  </div>
<% else %>
  <div class="alert alert-warning mt-4">
    No posts found.
  </div>
<% end %>

<%= link_to "New Post", new_post_path %>
